;<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="budgetBossStyle.css">
    <meta charset="UTF-8">
    <title>BUDGETBOSS</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
    <h1>Inscription</h1>

    <form @submit.prevent="addUser">
        <label for="identity">Nom complet :</label>
        <input v-model="identity" type="text" id="identity" name="identity" required><br>
        <p style="color: red;">your name : {{identity}}</p>

        <label for="mailAdress">Adresse e-mail :</label>
        <input v-model="mailAdress" type="email" id="mailAdress" name="mailAdress" required><br>
        <p style="color: red;">your email : {{mailAdress}}</p>

        <label for="numberPhone">Numéro de téléphone :</label>
        <input v-model="numberPhone" type="tel" id="numberPhone" name="numberPhone" required><br>
        <p style="color: red;">your phone : {{numberPhone}}</p>

        <label for="dateOfBirth">Date de naissance :</label>
        <input v-model="dateOfBirth" type="date" id="dateOfBirth" name="dateOfBirth" required><br>
        <p style="color: red;">your birthday : {{dateOfBirth}}</p>

        <label for="username">Nom d'utilisateur :</label>
        <input v-model="username" type="text" id="username" name="username" required><br>
        <p style="color: red;">your username : {{username}}</p>

        <label for="password">Mot de passe :</label>
        <input v-model="password" type="password" id="password" name="password" required><br>
        <p style="color: red;">your password : {{password}}</p>

        <label for="userType">Type d'utilisateur :</label>
        <select v-model="userType" id="userType" name="userType" required>
            <option value="Artiste">Artiste</option>
            <option value="Professionnel">Professionnel</option>
            <option value="Fan">Fan</option>
        </select><br>
        <p style="color: red;">your userType : {{userType}}</p>

        <input type="submit" value="S'inscrire">
    </form>
</div>

<script>
    let host = location.hostname || 'localhost';
    const state = {
        identity: "",
        mailAdress: "",
        numberPhone: "",
        dateOfBirth: "",
        username: "",
        password: "",
        userType: ""
    }

    const createNewUserFunction = function (event) {
        const data = {
            identity: state.identity,
            mailAdress: state.mailAdress,
            phone: state.numberPhone,
            dateOfBirth: state.dateOfBirth,
            username: state.username,
            password: state.password,
            userType: state.userType
        }
        console.log(data)
        axios
            .post('http://'+host+':8080/adduser', data)
            .then(function(responseApi){
                console.log(responseApi);
                state.user = responseApi.data
                console.log(state.user);
            })
    }


    const app = new Vue({
        el : '#app',
        data : state,
        methods:  {
            addUser: createNewUserFunction,
        }
    })


</script>
<footer class="bg-primary"></footer>

</body>
</html>
